.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.icon {
  font-size: 100px;
  animation: bounce 1s infinite alternate;
}

@keyframes bounce {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
