.profile-image {
  width: 160px;
  height: 160px;
  object-fit: cover;
  border: 1px solid rgba(39, 55, 94, 0.9);
  border-radius: 50%;
  overflow: hidden;
  margin: 20px;
}
.background-container {
  background-image: none;
  background-color: lightblue !important;
}
p {
  color: #2c3e50;
  margin-top: 10px;
  width: 600px;
  margin: 0 auto;
}
span {
  color: #336699;
}

@media screen and (max-width: 600px) {
  .nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }
  footer {
    position: fixed;
    height: 110px;
  }
  .container-md {
    position: sticky;
    width: 90%;
    height: 10%;
  }
  p {
    font-size: 13px;
    width: 100%;
  }
  .profile-image {
    margin-top: 120px;
    width: 130px;
    height: 130px;
  }
}
