.container {
  background-color: lightblue;
  max-width: 100%;
}
.container-flex {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  width: 100%;
  text-align: start;
}
.contact-form {
  background-color: #83c1ff;
  padding: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: start;
  border-radius: 10px;
}
.form-header {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 30px;
}
input,
textarea {
  width: 500px;
  height: 50px;
  display: flex;
  border-radius: 5px;
  text-align: start;
}
textarea {
  height: 100px;
}
.contact-details {
  margin-left: 50px;
  line-height: 50px;
}
.contact-details ul {
  list-style: none;
  padding-left: 0;
}
a {
  text-decoration: none;
}
.details-header {
  margin-bottom: 30px;
}
li {
  align-items: center;
}
.contact-icon {
  background-color: transparent;
}
.contact-icon:hover {
  color: rgba(255, 255, 255, 0.562) #fff;
}
span {
  padding-top: 15px;
}
.send-btn {
  padding: 10px;
  background-color: rgb(117, 63, 180);
  font-size: 19px;
  text-decoration: none !important;
  margin: 10px;
  border-radius: 10px;
  width: 200px;
  text-align: center;
}
.send-btn a {
  text-decoration: none !important;
  color: white;
}
.details {
  color: black;
  text-decoration: none;
}
footer {
  position: relative;
}

@media screen and (max-width: 600px) {
  .container-flex {
    position: sticky;
    width: 100%;
    flex-direction: column-reverse;
  }
  .contact-details {
    margin: 0px;
    margin-top: 50px;
    line-height: 40px;
    align-items: start;
    text-align: start;
  }
  .contact-form {
    padding: 0px;
    padding-left: 10px;
    padding-top: 20px;
    padding-right: 10px;
  }
  input,
  textarea {
    width: 100%;
    height: 40px;
    text-align: start;
  }
  textarea {
    height: 70px;
  }
  .send-btn {
    font-size: 16px;
    width: 130px;
  }
  .form-header {
    font-size: 20px;
  }
  .details-header {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}
