* {
  font-family: "GeneralSans-Variable";
}

@font-face {
  font-family: "GeneralSans-Variable";
  src: url("../GeneralSans_Complete/Fonts/TTF/GeneralSans-Variable.ttf")
    format("truetype");
}
footer {
  background-color: #111827;
  height: 130px;
  color: #336699;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-radius: 8px;
}
.nav-bar {
  background-color: #111827;
  color: #336699;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  font-size: 18px;
  height: 70px;
  border-radius: 8px;
}
.navs {
  display: flex;
  justify-content: center;
}
.navs li {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  margin-right: 20px;
}
.nav-item:hover {
  opacity: 0.5;
}
.nom {
  margin-top: 25px;
}
.logo {
  font-size: 23px;
  text-decoration: none;
  font-weight: bold;
}
.logo span {
  color: #fff;
  font-size: 25px;
}
.logo:hover {
  text-decoration: none;
}
.logo img {
  margin-right: 5px;
  margin-top: -6px;
}
.text {
  color: #2c3e50;
  margin-top: -10px;
  font-size: 90px;
}
.mb-6 {
  margin-bottom: 17px;
}
.line {
  background-color: white;
  width: 700px;
  height: 1px;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: -10px;
}
.icons {
  margin-bottom: 50px;
}
.icon {
  background-color: #8392a5;
  color: #111827;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
}
.icon:hover {
  color: whitesmoke;
}

.background-container {
  background-image: url("../images/background\ \(5\).jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 100%;
  height: calc(100vh - 180px);
}
.home-text,
.home-text-dev {
  color: white;
}
.home-text-dev {
  font-size: 25px;
}
.name {
  color: #336699;
  font-size: 27px;
}
.home-btns {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}
.btn {
  background-color: #336699;
}
.btn:hover {
  opacity: 0.7;
}
.bi {
  margin-right: 3px;
  color: #111827;
}
.container {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 70px;
}
.overlay-nav {
  display: none;
  color: black;
  font-size: 50px;
  font-weight: bolder;
}
.activeLink {
  color: white;
  background-color: #2c3e50;
  padding: 10px;
  border-radius: 5px;
  margin-top: 15px;
}


/* Style for hamburger menu icon */
.hamburger-icon {
  display: none;
  font-size: 25px;
  cursor: pointer;
  color: white;
}

@media screen and (max-width: 600px) {
  .home-text-dev {
    font-size: 18px;
  }
  .home-text {
    font-size: 25px;
  }
  .name {
    font-size: 31px;
    font-weight: bolder;
    line-height: 30px;
    color: #95b1cf;
  }
  .name span {
    display: block;
    color: #95b1cf;
    font-weight: bolder;
  }
  .content {
    position: fixed;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    margin-top: 80px;
  }
  .home-btns {
    flex-direction: column-reverse;
    justify-content: center;
    margin-bottom: 5px;
  }
  .home-btns a {
    width: 160px;
    margin-bottom: 10px;
    background-color: #2a6fb4;
  }
  .container {
    margin-top: 100px;
  }
  .background-container {
    background-image: url("../images/night-mobile.png");
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
    height: 100vh;
  }
  .logo span {
    font-size: 20px;
    display: flex;
  }
  .logo img {
    width: 32px;
  }
  .navs {
    display: none;
  }
  .overlay-nav {
    display: block;
  }
  .nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }
  footer {
    position: fixed;
    height: 110px;
  }
  .line {
  width: 300px;
}
.mb-6 {
  font-size: 20px;
}
.icon {
  font-size: 12px;
}
.hamburger-icon {
  display: block;
}
}